@(playerForm: Form[Player])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@rating(Messages("players.form")) {
<div class="row">
<div class="col-md-6">
<h2>@Messages("players.form")</h2>

@helper.form(action = routes.Players.save()) {
  <fieldset>
	  <input type="hidden" id="id" name="id" value="0" >
	  @helper.inputText(playerForm("name"))
	  @helper.inputPassword(playerForm("password"))
	  @inputRadioGroup(
          playerForm("race"),
	  options = options("Terran"->"Terran","Protoss"->"Protoss", "Zerg" -> "Zerg", "Random" -> "Random"),
          '_label -> "Race",
          '_error -> playerForm("race").error.map(_.withMessage("select your race")))
	  @helper.inputText(playerForm("rating"))
  </fieldset>
  <p><input type="submit" class="btn primary" value='@Messages("players.new.submit")'></p>
  }

</div>
<div class="col-md-6">
	<h2>Suggested Initial Rating</h2>
	You can set your initial rating as you like. Following list is suggestion from me, and its likely to be updated often.
	<ul>
		<li>KR Grandmasters ~ 2500</li>
		<li>AM Grandmasters ~ 2400</li>
		<li>KR Masters ~ 2200</li>
		<li>AM Masters ~ 2100</li>
		<li>KR Diamond ~ 2000</li>
		<li>AM Diamond ~ 1900</li>
		<li>KR Platinum ~ 1800</li>
		<li>AM Platinum ~ 1700</li>
		<li>KR Gold ~1600</li>
		<li>AM Gold ~1500</li>
		<li>KR Silver ~ 1400</li>
		<li>AM Silver ~ 1300</li>
		<li>KR/AM Bronze ~ 1200</li>
		<li>Novice ~ 1000</li>
		<li>I will never use my keyboard ~ 500</li>
	</ul>
</div>
</div>
<script type="text/javascript">$("#newplayer").attr("class","active");</script>

}
