@(playerForm: Form[Player])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@rating(Messages("players.form")) {
<h2>@Messages("players.form")</h2>

@helper.form(action = routes.Players.save()) {
  <fieldset>
	  <input type="hidden" id="id" name="id" value="0" >
	  @helper.inputText(playerForm("name"))
	  @helper.inputPassword(playerForm("password"))
	  @inputRadioGroup(
          playerForm("race"),
	  options = options("Terran"->"Terran","Protoss"->"Protoss", "Zerg" -> "Zerg", "Random" -> "Random"),
          '_label -> "Race",
          '_error -> playerForm("race").error.map(_.withMessage("select your race")))
	  @helper.inputText(playerForm("rating"))
  </fieldset>
  <p><input type="submit" class="btn primary" value='@Messages("players.new.submit")'></p>
  }
}

<script type="text/javascript">$("#newplayer").attr("class","active");</script>
