@(title: String)(content: Html)(implicit flash: Flash)
<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>@title</title>
<link rel="stylesheet" type="text/css" media="screen" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css'>
</head>
<body>

<div class="screenshot">

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container>
				<a class="brand" href="@routes.Application.index("index")">
					Main
				</a>
				<ul class="nav">
					<li class="divider-vertical"></li>
					<li class="active">
					<a href="@routes.Players.list()">
						@Messages("players.list.navigation")
					</a>
					</li>
					<li class="divider-vertical"></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container">
		@if(flash.get("success").isDefined) {
		  <div class="alert alert-success">
			  @flash.get("success")
		  </div>
		}

		@if(flash.get("error").isDefined) {
		  <div class="alert alert-error">
			  @flash.get("error")
		  </div>
		}

		@content
	</div>
</div>
</body>
</html>
