@(reportForm: Form[Report])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@rating(Messages("players.report")) {
<h2>@Messages("players.report")</h2>

@helper.form(action = routes.Players.submit()) {
  <fieldset>
	  <input type="hidden" id="id" name="id" value="0" >
	  @helper.inputText(reportForm("name"))
	  @helper.inputPassword(reportForm("password"))
	  @helper.inputText(reportForm("opponent"))
	  @helper.inputText(reportForm("win"))
	  @helper.inputText(reportForm("lose"))
	
  </fieldset>
  <p><input type="submit" class="btn primary" value='@Messages("players.report.submit")'></p>
  }
}

<script type="text/javascript">$("#report").attr("class","active");</script>
