@(reportForm: Form[Report])(implicit flash: Flash)
@import helper._
@import helper.twitterBootstrap._

@rating(Messages("players.report")) {
<h2>@Messages("players.report")</h2>

@helper.form(action = routes.Players.submit()) {
  <fieldset>
	  <input type="hidden" id="id" name="id" value="0" >
	  @helper.inputText(reportForm("name"))
	  @helper.inputPassword(reportForm("password"))
	  @helper.inputText(reportForm("opponent"))
	  @select(reportForm("win"),
	    options(
	    "0"  -> "0",
	    "1"  -> "1",
	    "2"  -> "2",
	    "3" -> "3",
	    "4" -> "4",
	    "5" -> "5",
	    "6" -> "6",
	    "7" -> "7",
	    "8" -> "8",
	    "9" -> "9",
	    "10" -> "10"
	    )
	    )
	    @select(reportForm("lose"),
	    options(
	    "0"  -> "0",
	    "1"  -> "1",
	    "2"  -> "2",
	    "3" -> "3",
	    "4" -> "4",
	    "5" -> "5",
	    "6" -> "6",
	    "7" -> "7",
	    "8" -> "8",
	    "9" -> "9",
	    "10" -> "10"
	    )
	    )

  </fieldset>
  <p><input type="submit" class="btn primary" value='@Messages("players.report.submit")'></p>
  }

<script type="text/javascript">$("#report").attr("class","active");</script>
}
