@(title: String)

<!DOCTYPE html>

<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
</style>
<script src="//code.jquery.com/jquery-1.9.0.min.js" type="text/javascript"></script>
</head>
<body>
<h1>Tools</h1>
<ul>
	<li><a href="/roulette">Roulette Tool</a></li>
	<li><a href="/tledit">Quasi-Markdown Editer for Teamliquid Forum Article</a></li>
	<li><a href="/rating">ELO Rating for Fun</a></li>
	<li>Simple chat room for SC2 players</li>
	<li><a href="timer">Starcraft II Gametime Stopwatch</a></li>
	<li>To be developed</li>
	<ul><li>i guess chat tool, mapkick tool, streaming overlay w/ chatroom, etc...</li></ul>
</ul>

<h1>Calendar</h1>
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=23j67jaghti8tp4aj5jjqpg97o%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=Asia%2FTokyo" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>

<h1>Donation</h1>
For those who want to motivate me:
<ul>
	<li><a href="http://t.co/4DwC0UcS43">Amazon Wish List</a></li>
</ul>

<h1>Websites</h1>
<ul>
	<li><a href="http://seesaawiki.jp/sc2buildsjp/">Starcraft II Build Order Japanese Wiki</a></li>
	<li><a href="http://d.hatena.ne.jp/rapptea1/">i need help</a></li>
	<ul><li>Blog on Starcraft II</li></ul>
	<li><a href="http://ja.ineedhelp.wikia.com/wiki/Ineedhelp_Wiki">i need help 2nd</a></li>
	<ul><li>Blog on League of Legends, Heroes of the Storm, Hearthstone, etc</li></ul>
</ul>
<h1>Contact</h1>
If you have any suggestion or bug report:
<ul>
	<li><a href="https://twitter.com/_Lapack/">Twitter</a></li>
	<li>Skype: lapack.rts</li>
</ul>
</body>
<script type="text/javascript">
$(function() {

		$('#enterchatbutton').click(function(){
			enterChat();
			})
		})

                $('#nickName').keypress(function(ev) {
			if ((ev.which && ev.which === 13) || (ev.keyCode && ev.keyCode === 13)) {
			enterChat();
		}
		})

                function enterChat() {
			var hiddenName = $("#hiddenName").val($('#nickName').val());
			var chatUrl = document.location.href + 'room\/' + hiddenName.val();
			chatUrl.replace(/\/\//, "/");
			document.location.href = chatUrl;
		}





</script>
</html>

